/*bootstrap override*/
.navbar-nav {
	float: right !important;
}

.navbar-inverse {
	background-color: #182c38 !important;
	border: none !important;
}

.navbar-header {
	text-align: center;
}

@media (min-width: 768px) {
.navbar-header {
    float: none !important;
}
}

.navbar-toggle {
	display: none !important;
}

/*signup form*/
#mc_embed_signup {
	background: none !important;
}

.input-group ul {
	list-style: none !important;
}

input:focus ~ label, textarea:focus ~ label, input:valid ~ label, textarea:valid ~ label {
 font-size: 0.75em;
 color: #a9a9a9;
 top: -2.75rem;
 -webkit-transition: all 0.125s ease;
 transition: all 0.125s ease;
}

.styled-input {
  width: 250px;
  margin: 2rem 0 1rem;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.styled-input label {
  color: #999;
  padding: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  pointer-events: none;
}

.styled-input.wide { width: 100%; }

input,
textarea {
  padding: 1rem 1rem;
  border: 0;
  width: 100%;
  font-size: 1rem;
  border-radius: 0px;
}

input ~ span,
textarea ~ span {
  display: block;
  width: 0;
  height: 3px;
  background: #a9a9a9;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transition: all 0.125s ease;
  transition: all 0.125s ease;
  border-radius: 3px;
}

input:focus,
textarea:focus { outline: 0; }

input:focus ~ span,
textarea:focus ~ span {
  width: 100%;
  -webkit-transition: all 0.075s ease;
  transition: all 0.075s ease;
  border-radius: 3px;
}

textarea {
  width: 100%;
  min-height: 15em;
}

/*custom*/
.topLogo {
	height: 40px;
	margin-top: .7em;
	margin-bottom: .7em;
}

.pre-registration {
	margin-top: 2em;
}

.price {
	font-size: 14px;
}

.form-submit {
	
}

.form-submit:hover {
	background-color: #757575;
}

.how-it-works {
	overflow: auto;
	text-align: center;
	margin-bottom: 4em;
	margin-top: 3em;
}

.how-it-works-title {
	
}

.how-it-works-img {
	height: 100px;
	margin-top: 3em;
}

.how-it-works p {
	width: 80%;
    margin-left: 10%;
    margin-top: 1em;
}

.bottom-cta {
	background-image:url('../img/pants-pattern-1.png');
	color: white;
	
}

.bottom-cta h3 {
	margin-bottom: 3em;
}

.sign-up-row {
	padding-top: 6em;
    padding-bottom: 8em;
    height: 24em;

}

.email {
	color: black !important;
}

.cta-btn {
	background: linear-gradient(rgba(255, 255, 255, .6), rgba(255, 255, 255, .6));
    padding: 15px 100px 15px 100px;
    color: white;
    border: 3px solid white;
    padding-right: 0;
    padding-left: 0;
    width: 250px;
    font-weight: 600;
}

.cta-btn:hover {
	text-decoration: none;
	color: white;
	background: linear-gradient(rgba(255, 255, 255, .4), rgba(255, 255, 255, .4));
}

.bottom-cta a {
	background: linear-gradient(rgba(255, 255, 255, .6), rgba(255, 255, 255, .6));
    color: white;
    border: 3px solid white;
    padding: 18px 90px 18px 90px;
    width: 250px;
}

.bottom-cta a:hover {
	text-decoration: none;
	color: white;
	background: linear-gradient(rgba(255, 255, 255, .4), rgba(255, 255, 255, .4));
}

.bottom-nav {
	background-color: #182c38;
	color: white;
	padding-top: 2em;
	padding-bottom: 2em;
}

.bottom-nav a:hover {
	color: white;
}

.bottom-nav p {
	margin-top: 2.5em;
	margin-bottom: 2em;
}

.copyright {
	font-size: 10px;
	margin-top: 2em;
}

.thank-you-footer {
	padding-top: 0 !important;
}

.thank-you-header {
	padding-bottom: 15px !important;
}

.faq {
	padding: 20px 0;
	border-bottom: 1px solid rgba(0,0,0,.1);
	color: #ffffff;
}

/*neutral*/
* {
	font-family: 'karla', sans-serif;
}.footer {
	background: #182c38;
	color: white;
}

.footer p {
	margin-top: 2em;
}

.header {
	background-image: linear-gradient(rgba(24, 44, 56, .6), rgba(24, 44, 56, .6)),
	url('../img/samelook-bg.jpg');
    background-repeat: repeat;
    color:white;
    width: 100%;
}

.ctas-button {
	color: #444;
}@import url('https://fonts.googleapis.com/css?family=Karla:400,700');
*,
*:before,
*:after {
  margin: 0;
  box-sizing: border-box;
}
body {
  -webkit-font-smoothing: antialiased;
  background-color: #fafafa;
}
/*text*/
.heading {
  font-weight: 100;
  font-size: 50px;
  line-height: 68px;
}
@media (max-width: 900px) {
.heading {
    font-size: 32px;
    line-height: 40px;
  }
}
.subheading {
  font-size: 30px;
  line-height: 40px;
  font-weight: 500;
}
@media (max-width: 900px) {
  .subheading {
    font-size: 26px;
    line-height: 35px;
  }
}
.paragraph {
  font-size: 17px;
  line-height: 32px;
  font-weight: 100;
}
.heading + .paragraph {
  margin-top: 30px;
}
.subheading + .paragraph {
  margin-top: 10px;
}
p.paragraph {
  color: #ffffff;
}
.logo {
  font-size: 30px;
  line-height: 30px;
  font-weight: 900;
  text-decoration: none;
  color: #ffffff;
}
@media (max-width: 420px) {
  .logo {
    font-size: 22px;
  }
}
.nav-link2,
.nav-link {
  text-decoration: none;
  font-size: 18px;
  line-height: 30px;
  color: inherit;
}
.nav-link:not(:first-of-type) {
  margin-left: 20px;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
/*flexbox styles*/
.flex,
.spread,
.center,
.right,
.vertical,
.centervertical {
  display: flex;
}
.spread {
  justify-content: space-between;
}
.center {
  align-items: center;
  justify-content: center;
}
.centervertical {
  flex-direction: column;
  justify-content: center;
}
.right {
  justify-content: flex-end;
}
.vertical {
  flex-direction: column;
}
/*grid*/
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  padding: 0 20px;
}
.col-1 {width: 8.333333%;}
.col-2 {width: 16.666667%;}
.col-3 {width: 25%;}
.col-4 {width: 33.333333%;}
.col-5 {width: 41.666667%;}
.col-6 {width: 50%;}
.col-7 {width: 58.333333%;}
.col-8 {width: 66.666667%;}
.col-9 {width: 75%;}
.col-10 {width: 83.333333%;}
.col-11 {width: 91.666667%;}
.col-12 {width: 100%;}

/*containers*/
.container-lrg,
.container-sml {
  margin: auto;
  width: 100%;
}
.container-lrg {
  max-width: 1080px;
}
.container-sml {
  max-width: 700px;
}
.ctas {
  margin: 40px 0 0 0;
}
.centerdevices,
.sidedevices {
  position: relative;
}.header {
	padding: 20px 0 90px 0;
	overflow: hidden;
}
.header .heading {
	margin: 120px 0 0 0;
}
.header .sidedevices {
	margin: 120px 0 0;
}
@media (max-width: 900px) {
	.header .flex {
		flex-direction: column;
	}
	.header .heading {
		margin-top: 60px;
	}
	.header .paragraph {
		margin-top: 30px;
		text-align: center;
		}
	.header .ctas {
		text-align: center;
	}
	.header .col-6 {
		width: 100%;
	}
	.header .sidedevices {
		margin: 90px 0 0;
	}
}.ctas-input {
	outline: none;
	border: none;
	border-radius: 0px;
	font-size: 15px;
	height: 40px;
	line-height: 40px;
	padding: 0 15px;
	width: 260px;
	display: inline-block;
}
.ctas-button {
	display: inline-block;
	margin: 0 0 0 10px;
	height: 40px;
	line-height: 38px;
	padding: 0 30px;
	background: #fff;
	border-radius: 0px;
	font-size: 15px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: .3px;
	border: 1px solid white;
	text-decoration: none;
}
@media (max-width: 440px) {
	.ctas-input,
	.ctas-button {
		display: block;
		width: 100%;
		text-align: center;
	}
	.ctas-button {
		margin: 10px 0 0 0;
	}
}.socialproof {
	padding: 90px 0;
}
@media (max-width: 680px) {
	.socialproof .flex {
		flex-wrap: wrap;
	}
	.socialproof .col-3 {
		width: 50%;
	}
	.socialproof .col-3:nth-of-type(n + 3) {
		margin-top: 30px;
	}
}.ctas-button,
.ctas-button-2 {
	display: inline-block;
	height: 40px;
	line-height: 38px;
	padding: 0 30px;
	background: #fff;
	border-radius: 0px;
	font-size: 15px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: .3px;
	border: 1px solid white;
	text-decoration: none;
}
.ctas-button-2 {
	background: transparent;
	color: white;
	margin: 0 0 0 10px;
}
@media (max-width: 440px) {
	.ctas-button,
	.ctas-button-2 {
		display: block;
		width: 100%;
		text-align: center;
	}
	.ctas-button-2 {
		margin: 10px 0 0 0;
	}
}.footer {
	padding: 90px 0 45px;
}
.footer-nav {
	padding-top: 90px;
}
.footer .ctas {
	margin: 0;
}
@media (max-width: 900px) {
	.footer .center {
		flex-direction: column;
	}
	.footer .col-7,
	.footer .col-5 {
		width: 100%;
	}
	.footer .text-right {
		text-align: left;
	}
	.footer .ctas {
		margin-top: 30px;
	}
	.footer .nav-link {
		display: inline-block;
		margin: 0 10px;
	}
}.ctas-input {
	outline: none;
	border: none;
	border-radius: 3px;
	font-size: 15px;
	height: 40px;
	line-height: 40px;
	padding: 0 15px;
	width: 260px;
	display: inline-block;
}
.ctas-button {
	display: inline-block;
	margin: 0 0 0 10px;
	height: 40px;
	line-height: 38px;
	padding: 0 30px;
	background: #fff;
	border-radius: 3px;
	font-size: 15px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: .3px;
	border: 1px solid white;
	text-decoration: none;
}
@media (max-width: 440px) {
	.ctas-input,
	.ctas-button {
		display: block;
		width: 100%;
		text-align: center;
	}
	.ctas-button {
		margin: 10px 0 0 0;
	}
}

.feature6 {
	padding: 90px 0;
	border-bottom: 1px solid rgba(0,0,0,.1);
	color: #ffffff;
}